service cloud.firestore {
  match /databases/{database}/documents {
    match /gifs/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}