:root{
  --body_background: hsl(0, 0%, 90%);
  --body_color: hsl(0, 0%, 10%);
  --link_color: pink;
  --pad: max(20px, 4vmin);
}

[data-theme='dark']{
  --body_background: hsl(0, 0%, 10%);
  --body_color: white;
  --link_color: rgb(165, 63, 80);
} 

body {
  background-color: var(--c-bg);
  font-family: "Neue Montreal";
  font-weight: 600;
  font-size: 14px;
  font-feature-settings: "palt";
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  margin: 0;
}


html,body {
  height: 100%;
}

html {
  line-height: 1;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: var(--body_color);
}
#Main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--body_background);
  color: var(--body_color);
  white-space: nowrap;
  transition-property: background-color;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

#Container {
  position: fixed;
  z-index: 1;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  pointer-events: none;
  overflow: hidden;
}

.borders {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.border_top, .border_bot {
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--pad);
  background-color: var(--body_background);
  transition-property: background-color;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  opacity: .9;
}
.border_top {
    top: 0;
}

.border_bot {
    bottom: 0;
}

.frame {
  position: fixed;
  z-index: 10;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  pointer-events: none;
}

.frame_border {
  position: absolute;
  background-color: var(--body_color);
  opacity: 0.5;
}

.frame_left {
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame_right {
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame_top {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}

.frame_bot {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.content_inner {
  position: relative;
  min-height: 100%
}

* {
  margin: 0;
  padding: 0;
}