:root{
  --body_background: hsl(0, 0%, 90%);
  --body_color: hsl(0, 0%, 10%);
  --link_color: pink;
  --pad: max(20px, 4vmin);
}

[data-theme='dark']{
  --body_background: hsl(0, 0%, 10%);
  --body_color: white;
  --link_color: rgb(165, 63, 80);
}

body {
  font-family: Montserrat, sans-serif;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body_background);
  color: var(--body_color);
  transition: all 0.5s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}



label {
  font-family: "Neue Montreal";
  font-size: 14px;
  font-weight: 100;
}

.container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.content {
  padding: 10px;
  border: 1px solid var(--body_color);
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.Heading {
  padding-top: 10px;
  padding-left: 20px;
  line-height: 0.4;
}
.about {
  margin-top: auto;
  margin-left: auto;
  width: 200px;
  height: 200px;
  line-height: 1.5;
}
.title{
  font-weight:300;
  font-size: 28px;
  color: var(--body_color);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.subHeader {
  font-weight: 600;
  font-size: 14px;
}
span {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

p {
  /* position: absolute; */
  right: calc(var(--pad)*2);
  bottom: calc(var(--pad)*2);
  white-space: nowrap;
}

.top-blur, .bottom-blur {
  position: absolute;
  left: 0;
  height: 20px;
  opacity: 0.9;
  width: 100%;
  background-color: var(--body_background);
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  z-index: 1; /* ensure this layer is on top of other elements */
}

.bottom-blur {
  bottom: 0;
  
}
.top-blur {
  top: 0;
  
}