.page {
    display: none;
    width: 100%;
    min-height: calc(var(--vh, 1vh)*100);
}

.home {
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*6);
    white-space: nowrap;
}

.home_aboutme {
    line-height: 1.5;
}

.home_aboutme span {
    display: block
}

.project {
    padding: calc(var(--pad)*2 + 96px) calc(var(--pad)*2);
    text-align: right;
    white-space: nowrap;
}

@media(min-width: 1280px) {
    .project {
        padding:calc(var(--pad)*2 + 125px) calc(var(--pad)*2);
    }
}

.project_section+.project_section {
    margin-top: 100px
}

.project_heading {
    font-weight: 400;
    margin-bottom: 40px;
}

/* .project_list {
    margin-top: 50px
}

.project_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 15px
} */

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-user-select: inherit;
    user-select: inherit;
    -webkit-user-drag: inherit;
    -webkit-tap-highlight-color: inherit;
    backface-visibility: inherit;
}

.project_label {
    display: block;
    text-align: right;
}

img.animated-gif{
    width: 200px;
    height: auto;
    border-radius: 10%;
  }


.modal {
    position: fixed;
    overflow-x: hidden;
    right: 10px;
    left: 50px;
    top: var(--pad);
    bottom: var(--pad);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--body_background);
    color: var(--body_color);
}
h1.h1 {
    font-weight: 100;
    font-size: 30px;
    font-family: Cormorant;
}

h2.h2 {
    font-weight: 900;
    font-size: 12px;
}
