.dark_mode {
  margin-top: -20px;
  margin-left: 10px;
  position: fixed;
  z-index: 10;
  left: calc(var(--pad) - 0.15em);
  bottom: var(--pad);
  transform-origin: left bottom;
  transform: rotate(-90deg);
  white-space: nowrap;
  display: flex;
  cursor: pointer;
  
}
.dark_mode_label, .light_mode_label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.dark_mode_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  margin-left: 20px;
}

.dark_mode_input:checked {
  background-color: #ccc;
  
}


