.dark_mode {
  transform: rotate(-90deg);
  width: 10px;
  display: flex;
  margin-top: auto;
  padding-top: 2px;
}
.dark_mode_label, .light_mode_label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
.dark_mode_input[type=radio]  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 1px solid #ccc;
  width: 14px;
  height: 14px;
}

.dark_mode_input[type=radio]:checked {
  background-color: #ccc;
}
