.dark_mode {
  margin-top: -20px;
  margin-left: 10px;
  position: fixed;
  z-index: 10;
  left: var(--pad);
  bottom: var(--pad);
  transform-origin: left bottom;
  transform: rotate(-90deg);
}
.dark_mode_label, .light_mode_label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.dark_mode_input {
  cursor: pointer;
  appearance: none;
  border: 2px solid #ccc;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-left: 20px;
}

.dark_mode_input:checked {
  background-color: #ccc;
}
